footer.footer
  .container
    .row
      .col-lg-5
        .row
          .col-xs-12.col-lg-6
            .footer__column
              h3.footer__title Contact Us
              ul.footer__social.list-unstyled
                li: a(href="https://www.facebook.com/kempinskihotels",target="_blank",title="Facebook").fsocial.facebook
                li: a(href="https://www.instagram.com/kempinski/",target="_blank",title="Instagram").fsocial.insta
                li: a(href="https://twitter.com/Kempinski",target="_blank",title="twitter").fsocial.twitter
                li: a(href="https://www.youtube.com/c/Kempinski",target="_blank",title="Youtube").fsocial.youtube
                li: a(href="https://plus.google.com/+Kempinski/posts",target="_blank",title="Gplus").fsocial.gplus
                li: a(href="https://www.linkedin.com/company/kempinski-hotels/",target="_blank",title="linkedin").fsocial.linkedin
                li: a(href="http://weibo.com/kempinskihotel",target="_blank",title="weibo").fsocial.weibo
                li: a(href="/en/hotels/exclusive/wechat/",target="_blank",title="wechat").fsocial.wechat
          .col-xs-12.col-lg-6
            .footer__column
              h3.footer__title Booking
              .footer__booking.text-uppercase
                +a("Modify")
                | &nbsp;/&nbsp;
                +a("Cancel")
      .col-lg-7
        .row
          .col-lg-7
            h3.footer__title Helpful info
            .row
              .col-xs-12.col-lg-6
                .footer__column
                  ul.footer__list.list-unstyled
                    li: +a("About Us")
                    li: +a("Contact Us")
                    li: +a("Press Room")
                    li: +a("Career Site")
              .col-xs-12.col-lg-6
                .footer__column
                  ul.footer__list.list-unstyled
                    li: +a("Best rates guarantee")
                    li: +a("Imprint")
                    li: +a("Legal")
                    li: +a("Privacy policy")
                    li: +a("Sitemap")      
          .col-lg-5
            .footer__column
              h3.footer__title SIGN UP TO OUR NEWSLETTER
              .footer__form
                input(type="text",name="NewsLetter")
                button Submit
              a(href="https://www.gha.com/",target="_blank",title="Global Hotel Alliance").footer__logo
              p.footer__copyright © 2018 Kempinski Hotels  
  .footer__nav
    a(data-target="#top",title="Back To Top",href="javascript:void(0)")
