header.header
  .container-fluid
    .row
      .col-lg-4
        a.header__logo(href="/", title="KEMPINSKI HOTELS")#top
          img(src="images/logo.png", alt="KEMPINSKI HOTELS")
      .col-lg-4.text-center
        h1.header__slogan
          span.header__slogan--big KEMPINSKI HOTELS
          span.header__slogan--small 
            span A collection of individuals      
  nav.menu
    a(href="javascript:void(0)",title="Menu").menu__toggle.js-menu-toggle
      span &nbsp;
    .menu__container
      .menu__container--navigation
        h3.menu__title Overview
        ul.list-unstyled
          li: +a("Destinations")
          li 
            +a("Experience Kempinski")
            ul.menu__container--submenu.list-unstyled
              li: +a("Summer escape in style")
              li: +a("Suitely Sensational")
              li: +a("Early Booker")
              li: +a("Family Offers")
              li: +a("Golf Offers")
            span.fa.sub-toggle.js-submenu
          li: +a("Special Offers")
          li: +a("Kempinski Loyalty")
          li 
            +a("Meetings & Events")
            ul.menu__container--submenu.list-unstyled
              li: +a("Summer escape in style")
              li: +a("Suitely Sensational")
              li: +a("Early Booker")
              li: +a("Family Offers")
              li: +a("Golf Offers")
            span.fa.sub-toggle.js-submenu
          li: +a("Blog")
          li: +a("About Us")
          li: +a("#Kempinski Gallery")
      ul.menu__container--panel
        li.menu__container--languages.text-uppercase
          .dropdown
            .dropdown-toggle.text-uppercase(data-toggle="dropdown",aria-haspopup="true",aria-expanded="false")
              | English
              span.fa.fa-angle-down  
            ul.dropdown-menu(aria-labelledby="dropdownLanguages")
              li: +a("français","")
              li: +a("Viet Nam","")
              li: +a("English","")
        li.menu__container--login
          a(href="/login",title="Login").js-login-btn.text-uppercase
            i.fa.fa-user-o
            span Login  
          .menu__login--popup.js-login-popup
            .row
              .col-lg-12
                .d-flex.justify-content-between.align-items-center.mb-2
                  +a('MY ACCOUNT')
                  +a('Need assistance ?')
              .col-lg-12.mb-4    
                p.text-bigger 
                  strong Need something special for your upcoming stay?
                p.text-smaller Access your upcoming trip to modify or cancel your booking.
              .col-lg-12.text-center
                .d-flex.justify-content-between.align-items-center
                  a(href="/",title="Create a new account").brand-btn-1.btn Create a new account
                  span.text-extrasmall OR
                  a(href="/",title="Login to your account").brand-btn-1.btn Login to your account


