.banner__block
  .banner__wrapper
    .banner__block--left
      .banner__item
        .banner__item--image(style="background-image:url(images/upload/image1.jpg);")
    .banner__block--right
      .banner__item
        .banner__item--image(style="background-image:url(images/upload/image5.jpg);")
        .banner__item--caption(data-target="#destination")
          a(href='#',title="destination") destination
      .banner__item
        .banner__item--image(style="background-image:url(images/upload/image2.png);")
        .banner__item--caption(data-target="#inspire")
          a(href='#',title="Inspire Me") Inspire Me
      .banner__item--text HOW MAY WE ASSIST YOU ?
      .banner__item
        .banner__item--image(style="background-image:url(images/upload/image3.jpg);")
        .banner__item--caption(data-target="#Offers")
          a(href='#',title="Special Offers") Special Offers
      .banner__item
        .banner__item--image(style="background-image:url(images/upload/image4.png);")
        .banner__item--caption(data-target="#feature")
          a(href='#',title="Feature Hotels") Feature Hotels  
.booking__block
  .booking__wrapper--sm
    .booking__sm--link 
      | Where would you like to go?
      span.fa.fa-search
  .booking__wrapper
    .container
      .row
        .col-lg-12
          .d-flex.justify-content-between.align-items-center
            .booking__places
              select.select2-places(placeholder="Where would you like to go?")
                optgroup(label='Austria')
                  option(value='AK') Austria - Jochberg - Kempinski Hotel Das Tirol
                  option(value='HI') Austria - Vienna - Palais Hansen Kempinski Vienna
                optgroup(label='Bulgaria')
                  option(value='CA') Bulgaria - Bansko - Kempinski Hotel Grand Arena Bansko
                optgroup(label='China')  
                  option(value='NV') China - Beijing - Kempinski Hotel Beijing Lufthansa Center
                  option(value='OR') China - Beijing - Sunrise Kempinski Hotel Beijing
                  option(value='WA') China - Beijing Yanqi Lake - Boutique Hotels, Managed by Kempinski
            .booking__date
              .booking__formstyle(style='text-align:center')
                span(style='display: none;text-align:center')
                  select.js_checkin-month(name='frommonth')
                    option(value='10') Oct
                    option(value='11') Nov
                    option(value='12') Dec
                    option(value='01') Jan
                    option(value='02') Feb
                    option(value='03') Mar
                    option(value='04') Apr
                    option(value='05') May
                    option(value='06') Jun
                    option(value='07') Jul
                    option(value='08') Aug
                    option(value='09') Sept
                  select.js_checkin-day(name='fromday')
                    option(value='01') 01
                    option(value='02') 02
                    option(value='03') 03
                    option(value='04') 04
                    option(value='05') 05
                    option(value='06') 06
                    option(value='07') 07
                    option(value='08') 08
                    option(value='09') 09
                    option(value='10') 10
                    option(value='11') 11
                    option(value='12') 12
                    option(value='13') 13
                    option(value='14') 14
                    option(value='15') 15
                    option(value='16') 16
                    option(value='17') 17
                    option(value='18') 18
                    option(value='19') 19
                    option(value='20') 20
                    option(value='21') 21
                    option(value='22') 22
                    option(value='23') 23
                    option(value='24') 24
                    option(value='25') 25
                    option(value='26') 26
                    option(value='27') 27
                    option(value='28') 28
                    option(value='29') 29
                    option(value='30') 30
                    option(value='31') 31
                  select.js_checkin-year(name='fromyear')
                    option(value='2016', selected='') 2016
                    option(value='2017') 2017
                    option(value='2018') 2018
                input.form-control.js_checkin(type='hidden', readonly='')
                span(style='display:none;text-align:center')
                  select.js_checkout-month(name='tomonth')
                    option(value='10') Oct
                    option(value='11') Nov
                    option(value='12') Dec
                    option(value='01') Jan
                    option(value='02') Feb
                    option(value='03') Mar
                    option(value='04') Apr
                    option(value='05') May
                    option(value='06') Jun
                    option(value='07') Jul
                    option(value='08') Aug
                    option(value='09') Sept
                  select.js_checkout-day(name='today')
                    option(value='01') 01
                    option(value='02') 02
                    option(value='03') 03
                    option(value='04') 04
                    option(value='05') 05
                    option(value='06') 06
                    option(value='07') 07
                    option(value='08') 08
                    option(value='09') 09
                    option(value='10') 10
                    option(value='11') 11
                    option(value='12') 12
                    option(value='13') 13
                    option(value='14') 14
                    option(value='15') 15
                    option(value='16') 16
                    option(value='17') 17
                    option(value='18') 18
                    option(value='19') 19
                    option(value='20') 20
                    option(value='21') 21
                    option(value='22') 22
                    option(value='23') 23
                    option(value='24') 24
                    option(value='25') 25
                    option(value='26') 26
                    option(value='27') 27
                    option(value='28') 28
                    option(value='29') 29
                    option(value='30') 30
                    option(value='31') 31
                  select.js_checkout-year(name='toyear')
                    option(value='2016', selected='') 2016
                    option(value='2017') 2017
                    option(value='2018') 2018
                input.form-control.js_checkout(type='hidden', readonly='')
              .booking__control
                input(type='text').js_qs_checkin.form-control
              .booking__control
                input(type='text').js_qs_checkout.form-control
            .booking__actions
              .booking__rooms
                select.select2-rooms(placeholder="")
                  option(value='1',selected) 1 Room
                  option(value='2') 2 Room
                  option(value='3') 3 Room
                  option(value='4') 4 Room
              .booking__button
                button(type="button") Search
.section__block#destination.section__animated
  .section__heading
    h2.section__heading--title REMARKABLE EUROPEAN FLAIR
    p.section__heading--subtitle 
      span Hoteliers since 1897
  .section__description
    p Hoteliers since 1897, Kempinski has travelled the world in search of the most fascinating destinations without ever forgetting the finest traditions of its European heritage. With luxury holiday resorts, business and Spa hotels around the world, every Kempinski Hotel is unique, designed for guests who value five star holidays and luxury getaways.
  .section__map
    .section__map--wrapper
      #map_canvas
.section__block#inspire.section__animated.mb-3
  .section__heading
    h2.section__heading--title EXPERIENCES WITH KEMPINSKI
    p.section__heading--subtitle 
      span In over 30 countries
    span.section__heading--extra REMARKABLE EUROPEAN FLAIR   
  .section__inspire--carousel
    .section__inspire--inner.js-inspire-slider
      .section__inspire--item
        .section__inspire--thumb(style="background-image:url(images/upload/image6.jpg);")
        .section__inspire--desc
          h4.section__inspire--name GOLF
          .section__inspire--text
            p Kempinski’s dedication to discovering the most fascinating destinations around the world goes hand-in-hand with our commitment to providing the finest leisure facilities to go alongside them and our golf courses are among the most impressive across the globe.
          .section__inspire--btn
            a(href="#",title="Further Information").brand-btn-1 Further Information
      .section__inspire--item
        .section__inspire--thumb(style="background-image:url(images/upload/image6.jpg);")
        .section__inspire--desc
          h4.section__inspire--name GOLF
          .section__inspire--text
            p Kempinski’s dedication to discovering the most fascinating destinations around the world goes hand-in-hand with our commitment to providing the finest leisure facilities to go alongside them and our golf courses are among the most impressive across the globe.
          .section__inspire--btn
            a(href="#",title="Further Information").brand-btn-1 Further Information
      .section__inspire--item
        .section__inspire--thumb(style="background-image:url(images/upload/image6.jpg);")
        .section__inspire--desc
          h4.section__inspire--name GOLF
          .section__inspire--text
            p Kempinski’s dedication to discovering the most fascinating destinations around the world goes hand-in-hand with our commitment to providing the finest leisure facilities to go alongside them and our golf courses are among the most impressive across the globe.
          .section__inspire--btn
            a(href="#",title="Further Information").brand-btn-1 Further Information
      .section__inspire--item
        .section__inspire--thumb(style="background-image:url(images/upload/image6.jpg);")
        .section__inspire--desc
          h4.section__inspire--name GOLF
          .section__inspire--text
            p Kempinski’s dedication to discovering the most fascinating destinations around the world goes hand-in-hand with our commitment to providing the finest leisure facilities to go alongside them and our golf courses are among the most impressive across the globe.
          .section__inspire--btn
            a(href="#",title="Further Information").brand-btn-1 Further Information    
  .section__block
    .section__heading
      h2.section__heading--title SHOW US YOUR @KEMPINSKI      
      p.section__heading--subtitle2 Our guests always travel the world in style. Mention @Kempinski on Instagram for a chance to be featured!
    .section__gallery--carousel  
      .section__gallery--inner.js-gallery-slider.row
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image7.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image8.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image9.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image10.jpg)")
            span ClientName   
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image7.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image8.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image9.jpg)") 
            span ClientName
        .section__gallery--item.col-lg-3
          a(href="#",title="ClientName",style="background-image:url(images/upload/image10.jpg)")
            span ClientName   
    .section__gallery--btns.text-center
      a(href="#",title="VIEW GALLERY").brand-btn-1 VIEW GALLERY
      a(href="#",title="ADD A PHOTO").brand-btn-1 ADD A PHOTO

.section__block#Offers3.section__animated
  .section__heading.bg-light-gray
    h2.section__heading--title SPECIAL OFFERS
    p.section__heading--subtitle 
      span Exciting Packages
    span.section__heading--extra FOR REMARKABLE STAYS           
  .section__offer--carousel
    .container
      .row.js-offer-slider
        .col-lg-4
          .section__offer--item
            .section__offer--thumb(style="background-image:url(images/upload/image11.png);")
            .section__offer--desc
              .section__offer--name EARLY BOOKER
              .section__offer--text
                p Enjoy a truly luxurious break with one our special offers the next time you choose to stay with us
                p Whether you want a wonderful weekend away in one of Europe's best cities, catching the sights and enjoying the best in cuisine and entertainment, or a weeks-long vacation spent on the shores of an idyllic island hideaway, there will be a special suite offer perfect for you.
              .section__offer--btn
                a(href="#",title="Further Information").brand-btn-1 Further Information
        .col-lg-4
          .section__offer--item
            .section__offer--thumb(style="background-image:url(images/upload/image12.jpg);")
            .section__offer--desc
              .section__offer--name SUMMER ESCAPE IN STYLE
              .section__offer--text
                p Plan your dream trips to stunning hotels in spectacular destinations! This Summer, Escape in Style with special offers from Kempinski Hotels and benefit with up to 30% off the regular rates.
              .section__offer--btn
                a(href="#",title="Further Information").brand-btn-1 Further Information
        .col-lg-4
          .section__offer--item
            .section__offer--thumb(style="background-image:url(images/upload/image13.jpg);")
            .section__offer--desc
              .section__offer--name SUITELY SENSATIONAL
              .section__offer--text
                p Offers with up to 40% discount, when booking 15, 30 or 90 days in advance.
              .section__offer--btn
                a(href="#",title="Further Information").brand-btn-1 Further Information
        .col-lg-4
          .section__offer--item
            .section__offer--thumb(style="background-image:url(images/upload/image14.jpg);")
            .section__offer--desc
              .section__offer--name GOLD
              .section__offer--text
                p Kempinski doesn't just offer world-class courses for our guests to play on – we also provide some of the most luxurious golf packages to be found anywhere across the globe, meaning you can transform your passion into a truly unforgettable experience.
              .section__offer--btn
                a(href="#",title="Further Information").brand-btn-1 Further Information                        

.section__block#feature          
  .section__heading.bg-light-gray
    h2.section__heading--title FEATURED HOTELS
    p.section__heading--subtitle 
      span Over 70 hotels
    span.section__heading--extra A COLLECTION OF INDIVIDUALS
  .section__feature--carousel
    .section__feature--inner.js-feature-slider              
      .section__feature--item
        .section__feature--name Italy
      .section__feature--item
        .section__feature--name Austria
      .section__feature--item
        .section__feature--name Germany
      .section__feature--item
        .section__feature--name Switzerland
      .section__feature--item
        .section__feature--name China      
  .section__feature--tabs
    .js-tabs.fade.show(data-panel-index="0")
      .section__feature--image(style="background-image:url(images/upload/image15.jpg);") 
      .container
        .section__feature--desc
          h4.section__feature--title Dubai - Mall of the Emirates
          .section__feature--text
            p
              | In the heart of Dubai is the 5-star Kempinski Hotel Mall of the Emirates. Connected to 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/local-information/mall-of-the-emirates/') Mall of the Emirates
              | , guests can enjoy easy access to over 700 shops, special deals with and many 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/local-information/family-adventures/ski-dubai/') Ski Dubai
              | , 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/local-information/family-adventures/magic-planet/') Magic Planet
              |  IFLY, Little explores, ORBI in Mirdiff City Center can be booked prior/post arrival. 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/rooms-and-suites/') 393 rooms and suites
              |  offering spectacular views of Dubai’s skyline. 20 stunning 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/rooms-and-suites/further-suites/') Aspen Chalets 
              | overlooking the incredible snowy slopes of Ski Dubai.
            p
              | Ideally located on Sheikh Zayed Road with easy access to the Metro, Kempinski Hotel Mall of the Emirates is the perfect starting point to discover Dubai’s beaches, golf courses and 
              a(href='https://www.kempinski.com/en/dubai/mall-of-the-emirates/local-information/family-adventures/dubai-parks-and-resorts/') Dubai's Parks and Resorts
              | . Downtown Dubai and Burj Khalifa are also only ...
          .section__feature--btn
            a(href="#",title="Further Information").brand-btn-1 Further Information 
    .js-tabs.fade(data-panel-index="1")
      .section__feature--image(style="background-image:url(images/upload/image16.jpg);") 
    .js-tabs.fade(data-panel-index="2")
      .section__feature--image(style="background-image:url(images/upload/image17.png);") 
    .js-tabs.fade(data-panel-index="3")
      .section__feature--image(style="background-image:url(images/upload/image18.jpg);") 
    .js-tabs.fade(data-panel-index="4")
      .section__feature--image(style="background-image:url(images/upload/image19.jpg);")               