/* Slider */

.slick-slider {
    position: relative;
    display: block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;

    &:focus {
        outline: none;
    }

    &.dragging {
        cursor: pointer;
        cursor: hand;
    }
}
.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .slick-loading & {
        visibility: hidden;
    }
}
.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    opacity: .6;
    [dir="rtl"] & {
        float: right;
    }
    img {
        display: block;
    }
    &.slick-loading img {
        display: none;
    }
    &.slick-active {
      opacity: 1;
    }
    &.dragging img {
        pointer-events: none;
    }

    .slick-loading & {
        visibility: hidden;
    }

    .slick-vertical & {
        display: block;
        height: auto;
        border: 1px solid transparent;
    }
}
.slick-dots {display: none;}
.slick-arrow {
    width: 70px;
    height: 70px;
    font-size: 0;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    border-radius: 50%;
    -webkit-appearance: none;
    overflow: hidden;
    transition: background-color .3s;
    z-index: 15;
    cursor: pointer;
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
    &:focus,
    &:hover {outline:none;opacity:1;}
    &.slick-next {
      right: 10px;
      &:before {
        content:'';
        width: 24px;
        height: 42px;
        background: url('../images/icons.png') no-repeat -100px -100px rgba(255,255,255,0.7);
      }
    }
    &.slick-prev {
      left: 10px;
      &:before {
        content:'';
        width: 24px;
        height: 42px;
        background: url('../images/icons.png') no-repeat 0px -100px rgba(255,255,255,0.7); 
      }
    }
}
