// Inline code
code {
  font-size: $code-font-size;
  color: $code-color;
  word-break: break-word;

  // Streamline the style when inside anchors to avoid broken underline and more
  a > & {
    color: inherit;
  }
}

// User input typically entered via keyboard
kbd {
  padding: $kbd-padding-y $kbd-padding-x;
  font-size: $kbd-font-size;
  color: $kbd-color;
  background-color: $kbd-bg;
  @include border-radius($border-radius-sm);
  @include box-shadow($kbd-box-shadow);

  kbd {
    padding: 0;
    font-size: 100%;
    font-weight: $nested-kbd-font-weight;
    @include box-shadow(none);
  }
}

// Blocks of code
pre {
  display: block;
  font-size: $code-font-size;
  color: $pre-color;

  // Account for some code outputs that place code tags in pre tags
  code {
    font-size: inherit;
    color: inherit;
    word-break: normal;
  }
}

// Enable scrollable blocks of code
.pre-scrollable {
  max-height: $pre-scrollable-max-height;
  overflow-y: scroll;
}
.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.9); 
  &:before {
    content:'';
    border: 1px solid $color-brand-2;
    position: absolute;
    left: 10px;
    right: 10px;
    top: 10px;
    bottom: 10px;
  }
  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 270px;
    text-align: center;
  }
  &__logo--text {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    font-style: italic;

    opacity: 0.7;
  }
  .square-spin {
    display: inline-block;
    width: 270px;
    height: 108px;
    background-size: cover;
    transform: translate(-50%, -50%);
    -webkit-animation: pulse 0.6s alternate infinite ease-in-out;
    animation: pulse 0.6s alternate infinite ease-in-out;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}