/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@import "awesome/variables";
@import "awesome/mixins";
@import "awesome/path";
@import "awesome/core";
@import "awesome/larger";
@import "awesome/fixed-width";
@import "awesome/list";
@import "awesome/bordered-pulled";
@import "awesome/animated";
@import "awesome/rotated-flipped";
@import "awesome/stacked";
@import "awesome/icons";
@import "awesome/screen-reader";

.fsocial {
	background-image: url('../images/icons.png');
	width: 40px;
	height: 40px;
	display: block;
	&.facebook {background-position: -1px -159px;}
	&.insta {background-position: -87px -159px;}
	&.twitter {background-position: -220px -159px;}
	&.youtube {background-position: -173px -159px;}
	&.gplus {background-position: -130px -159px;}
	&.linkedin {background-position: -44px -159px;}
	&.weibo {background-position: -267px -159px;}
	&.wechat {background-position: -326px -159px;}
}
