//
// Main layout
//
.header {
  background-color: $color-brand-1;
  padding: 5px 0;
  position: relative;
  &__logo {
    @include media-breakpoint-down(md) {
      margin:0 auto;
      display:table;
    }
    img {
      max-height: 60px;
      @include media-breakpoint-up(lg) {
        max-height: 90px;
      }
    }
  }
  &__slogan {
    color: $white;
    line-height: 1;
    @include media-breakpoint-up(lg) {
      padding-top: 5px;
    }
    &--big {
      letter-spacing: 4px;
      text-indent: 4px;
      font-size: .625rem;
      text-transform: uppercase;
      text-shadow: 0 -1px 2px $black;
      white-space: normal;
      @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
        letter-spacing: 5.6px;
        text-indent: 5.6px;
      }
    }
    &--small {
      font-size: 1rem;
      display: block;
      margin: 5px auto;
      position: relative;
      font-family: kings-caslon-display, serif;
      font-style: italic;
      font-weight: 400;
      max-width: 460px;
      text-shadow: 0 -1px 2px $black;
      span {
        background-color: $color-brand-1;
        display: inline-block;
        padding: 0 15px;
        z-index: 1;
        position: relative;
      }
      &:before {
        content:'';
        height: 1px;
        background-color: $color-brand-2;
        width: 100%;
        left: 0;
        position: absolute;
        top: 50%;
      }
    }
  } 
}
.menu {
  position: absolute;
  top: 0; 
  left: 0;
  right: 0;
  &__title {
    letter-spacing: 2px;
    font-size: 1.25rem;
    text-transform: uppercase;
    height: auto;
    margin-bottom: 8px;
    color: $white;
    font-weight: $font-weight-light;
    padding: 0 58px 0 50px;
  }
  &__toggle {
    position: absolute;
    left: 15px;
    top: 15px;
    padding-top: 10px;
    height: 25px;
    width: 25px;
    z-index: 1;
    transition: left 0.5s ease-out;
    span {
      height: 3px;
      width: 25px;
      background: $color-brand-2;
      display: block;
      transform-origin: left center;
      position: relative;
      transition: all 0.5s;
      &:before,
      &:after {
        content: '';
        height: 3px;
        width: 25px;
        background: $color-brand-2;
        display: block;
        transform-origin: left center;
        position: absolute;
        transition: all 0.5s;
        border-radius: 2px;
      }
      &:before {
        top: -8px;
      }
      &:after {
        bottom: -8px;
      }

    }
    .open & {
      span {
        background-color: transparent;
        &:before {
          transform: rotate(39deg);
        }
        &:after {
          transform: rotate(-39deg);
        }
      }
    }
  }
  @include media-breakpoint-down(md) {
    &__container {
      position: absolute;
      z-index: 10;
      padding: 40px 0;
      top: 136px;
      left: -100%;
      background-color: $color-brand-1;
      visibility: hidden;
      transition: all 0.5s;
      width: 100%;
      a {
        font-size: .875rem;
        text-transform: uppercase;
        color: $white;
        line-height: 50px;
        padding: 0 20px 0 50px;
        
      }
      &--submenu {
        display: none;
        padding: 10px 20px;
        a {
          line-height: 1.9;
        }
      }
      li {
        position: relative;
        .sub-toggle {
          position: absolute;
          right: 15px;
          top: 0;
          display: block;
          width: 40px;
          height: 50px;
          text-align: center;
          z-index: 10;
          font-size: 1rem;
          color: $white;
          &:before {
            content: '\f078';
            margin-top: 15px;
            display: block;
          }
          &.open {
            &:before {
              content: '\f077';
            }
          }
        }
      }
      &--panel {
        margin: 0;
        padding: 0;
      }
      &--login {
        .fa {margin-right: 7px;}
      }
      ul {margin: 0;}
      &--languages {
        .dropdown-menu {
          background-color: $white;
          left: 50px;
          a {
            line-height: 1.4;
            font-size: .75rem;
            color: $color-brand-1;
            padding: 2px 0;
          }
        }
        .dropdown-toggle {
          cursor:pointer;
          font-size: .875rem;
          text-transform: uppercase;
          line-height: 50px;
          padding: 0 20px 0 50px;
          color: $white;
        }
      }
      .open & {
        visibility: visible;
        left:0;
      }
    }
    &__login--popup {
      display: none !important;
    }
  }
  @include media-breakpoint-up(lg) {
    bottom: 0;  
    &__toggle{
      left: -100%;
      transition: all 0.3s;
      position: fixed;
    }
    &__container {
      &--submenu {
        position: absolute;
        left: 80%;
        top: 0;
        transition: all .2s;
        visibility: hidden;
        opacity:0;
        padding-top: 67px;
        width: 1px;
        height: 1px;
        background-color: rgba($color-brand-1,.4);
      }
      &--navigation {
        margin: 0;
        padding: 35px 0;
        left: 0;
        top: 125px;
        position: absolute;
        z-index: 10;
        height: calc((0.35*100vw) - 50px);
        transition: all .5s;
        color: $white;
        background-color: rgba($color-brand-1,.75);
        li {
          .fa { display: none; }
          &:hover {
            .menu__container--submenu {
              height: calc((0.35*100vw) - 50px);
              left: 100%;
              width: auto;
              visibility: visible;
              opacity: 1;
            }
          }
        }   
        a {
          padding: 0 50px;
          position: relative;
          font-size: .688rem;
          color: inherit;
          text-transform: uppercase;
          line-height: 2.35;
          display: block;
          white-space: nowrap;
          &:hover {
            background-color: rgba(14,93,178,0.5);
            color: rgba($white,.5);
          }
        }
      }
      &--panel {
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: right;
        > li {
          padding: 10px 45px 10px 0;
          display: inline-block;
        }
        li {  
          font-size: .625rem;
          letter-spacing: 2.5px;
          color: $white;
          a {
            color: inherit;
          }
        }
      }
      &--login {
        .fa {margin-right: 7px;color: $color-brand-2;}
      }
      &--languages {
        .dropdown-toggle {cursor:pointer;}
      }
    }
    &__login--popup {
      display: none;
      position: absolute;
      top: 100%;
      right: 45px;
      background-color: $white;
      min-width: 500px;
      padding: 15px 20px;
      box-shadow: 1px 3px 8px $modal-content-border-color;
      color: $color-text;
      letter-spacing: normal;
      font-size: .875rem;
      text-align: left;
      z-index: 2;
      .text-bigger {font-size: 1.125rem;}
      .text-smaller {font-size: .75rem;}
      .text-extrasmall {font-size: .625rem;}
      .brand-btn-1 {width: 40%;}
    }
  }
}
.banner {
  &__block {
    width:100%;
    background-color: $white;
    transition: all .5s;
    position: relative;
    @include media-breakpoint-down(md) {
      height:calc(0.75*100vw);
      max-height: 500px;
      &--left {
        display: block;
        width: 100%;
        height: 100%;
      }
      &--right {
        display: none;
      }
    }
    @include media-breakpoint-up(lg) {
      height:calc(0.35*100vw);
      &--left {
        width: 50%;
        vertical-align: middle;
        display: table-cell;
      }
      &--right {
        width: 50%;
        vertical-align: middle;
        display: table-cell;
      }
    }
    
  }
  &__item {
    display: block;
    overflow: hidden;
    position: relative;
    &--text {
      clear: both;
      display: flex;
      align-items: center;
      width: 100%;
      height: 65px;
      padding: 5px 5px 5px 10%;
      letter-spacing: 3px;
      font-size: .625rem;
      text-transform: uppercase;
    }
    &--image {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      top: 0;
      background-size: cover;
      background-position: center;
      .banner__block--right & {
        left: 5px;
      }
    }
    &--caption {
      opacity: 0;
      transition: all .3s;
      position: absolute;
      left: 5px;
      right: 0;
      top: 0;
      display:flex;
      height: 1px;
      .banner__item:hover & {
        opacity: 1;
        height: 100%;
        background-color: rgba($black,.3);
      }
      align-items: center;
      justify-content: center;
      a {
        color: rgba($white,.85);
        min-width: 200px;
        text-align: center;
        border: 1px solid rgba($white,.85);
        padding: 8px 0;
        letter-spacing: 4px;
        font-size: .625rem;
        text-transform: uppercase;
      }
    }
    .banner__block--left & {
      width: 100%;
      height: 100%;
    } 
    .banner__block--right & {
      float: left;
      width: 50%;
      height: calc((100% - 65px) / 2);
    }
  }
  &__wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    display:table;
  }
}
.footer {
  background-color: $color-brand-1;
  padding-top: 25px;
  padding-bottom: 30px;
  position: relative;
  font-size: .75rem;
  color: $color-brand-2;
  a {
    color: inherit;
    font-size: .688rem;
  }
  &__column {
    max-width: 300px;
    margin: 0 auto;
  }
  &__title {
    font-size: .75rem;
    margin: 20px 0 10px 0;
    letter-spacing: .1px;
    color: $color-brand-2;
    text-transform: uppercase;
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
      margin: 0 0 8px 0;
      letter-spacing: 2px;
    }
  }
  &__social {
    text-align: center;
    @include media-breakpoint-up(lg) {
      text-align: left;
    }
    font-size: 0;
    margin: 0 0 0 -5px;
    li {
      display: inline-block;
      margin: 0 8px 10px 0; 
      a {transform: scale(0.8);}
    }
  }
  &__booking {
    position: relative;
    padding: 0 0 0 30px;
    line-height: 2.2;
    &:before {
      content:'';
      position: absolute;
      height: 20px;
      width: 20px;
      left: 2px;
      top: 2px;
      background: url('../images/icons.png') no-repeat -44px 0px transparent;
      background-size: 200px 100px;
    }
    @include media-breakpoint-up(lg) {
      padding: 7px 0 0 50px;
      &:before {
        width: 38px;
        height: 38px;
        background-position: -90px -1px;
        background-size: 400px 200px;
      }
    }
  }
  &__list {
    margin: 0;
    padding: 15px 0 0 0;
    li {
      position: relative;
      padding: 0 0 5px 25px;
      text-transform: uppercase;
      &:before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 0px;
        left: 0;
        background: url('../images/icons.png') no-repeat -67px -3px transparent;
      }
    }
  }
  &__form {
    margin: 25px 0 20px;
    position: relative;
    input[type=text] {
      height: 31px;
      padding: 5px;
      line-height: 21px;
      background-color: $white;
      color: $color-brand-1;
      border: 0;
      width: 100%;
      border-radius: 0;
    }
    button {
      -webkit-appearance: button;
      border: none;
      outline: none;
      position: absolute;
      right: 0;
      top: 0;
      font-size: 0;
      width: 31px;
      height: 31px;
      background: url('../images/icons.png') no-repeat -138px -1px transparent;
      &:hover {
        background-position: -178px -1px;
      }
    }
  }
  &__logo {
    text-align: center;
    padding-bottom: 10px;
    @include media-breakpoint-up(lg) {
      text-align:right;
    }
    display: block;
    &:before {
      content:'';
      display:inline-block;
      width: 200px;
      height: 32px;
      background: url('../images/icons.png') no-repeat -1px -50px transparent;
    }
  }
  &__copyright {
    display:none;
    @include media-breakpoint-up(lg) {
      display:block;
    }
    text-align:right;
    text-transform: uppercase;
  }
  &__nav {
    text-align: center;
    padding-top: 20px;
    a {
      display:inline-block;
      font-size:0;
      width: 37px;
      height: 37px;
      background: url('../images/icons.png') no-repeat -1px -1px transparent;
    }
    @include media-breakpoint-up(lg) {
      display:none;
    }
  }
}
.booking {
  &__block {
    position: relative;
    width: 100%;
    background-color: $color-brand-1;
    @include media-breakpoint-down(md) {
      padding: 10px 0;
    }
    .container { max-width: 980px; }
  }
  &__wrapper {
    position: relative;
    z-index: 10;
    overflow: hidden;
    height: 54px;
    padding: 12px 0;
    font-size: .75rem;
    @include media-breakpoint-down(md) {
      display:none;
      height: auto;
      overflow: inherit;
    }
    &--sm {
      display: table;
      width: 300px;
      font-size: .938rem;
      background-color: $white;
      line-height: 1;
      padding: 7px 10px;
      height: 30px;
      margin: 0 auto;
      position: relative;
      border-radius: 4px;
      .fa {
        position: absolute;
        font-size: 1.125rem;
        line-height: 1;
        color: #fff;
        width: 30px;
        height: 30px;
        background: $color-brand-2;
        padding: 5px;
        right:0;
        top: 0;
        text-align: center;
      }
      @include media-breakpoint-up(lg) {
        display:none;
      }
    }
  }
  &__places {
    width: 35%;
    padding-right: 5px;
    color: $color-brand-1;
    .select2-container {
      background-color: $white;
      line-height: 1.5;
      width: 100%;
      border-radius: 2px;
      .select2-selection--single {
        height: 30px;
      }
      .select2-selection__rendered {
        padding: 7px 10px 0 25px;
      }
    }
    .select2-selection__arrow {
      height: 26px;
      position: absolute;
      top: 2px;
      left: 5px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      font: normal normal normal 20px/1 FontAwesome;
      &:before{
        content:'\f041'; 
      }
    }
  }
  &__date {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__control {
    padding: 0 5px 0 0;
    width: 100%;
    position: relative;
    &:before {
      content:'';
      width: 20px;
      height: 20px;
      right: 10px;
      top: 7px;
      position: absolute;
      background: url('../images/icons.png') no-repeat -44px -4px transparent;
    }
    input {
      font-size: .75rem;
      border:none;
      border-radius: 2px;
      background-color: $white;
    }
  }
  &__actions {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    .select2-container {
      background-color: $white;
      line-height: 1.5;
      width: 100%;
      border-radius: 2px;
      .select2-selection--single {
        height: 30px;
      }
      .select2-selection__rendered {
        padding-top: 6px;
        text-align:center;
      }
    }
  }
  &__rooms {
    width: 50%;
    padding-right: 5px;
  }
  &__button {
    width: 50%;
    button {
      width: 100%;
      background: $color-brand-2;
      border: none;
      border-radius: 2px;
      font-size: .813rem;
      color: $white;
      text-transform: uppercase;
      line-height: 1.308;
      text-align: center;
      height: 30px;
      line-height: 32px;
      padding: 0 10px;
      font-weight: $font-weight-light;
      letter-spacing: 0;
    }
  }
}
.is_scrolling {
  @include media-breakpoint-up(lg) {
    .menu {
      z-index: 10;
      position: fixed;
      right:auto;
      &__toggle {left:15px;}
      &__container {
        &--navigation {
          height:auto;
          transform:translateX(-100%);
          top:50px;
          li:hover {
            .menu__container--submenu {
              height: 100%;
            }
          }
        }
        &--panel {display:none;}
      }
      &.open {
        .menu__container--navigation {transform:translateX(0);}
      }
    }
    .booking__block {
      position: fixed;
      top:0;
      left:0;
      right:0;
      z-index:9;
    }
  }
}
.section {
  &__heading {
    text-align: center;
    padding: 30px 0 38px 0;
    &--title {
      letter-spacing: 4px;
      text-indent: 4px;
      font-size: 1.125rem;
      text-transform: uppercase;
      white-space: normal;
      color: $color-brand-1;
      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
        letter-spacing: 5.6px;
        text-indent: 5.6px;
      }
    }
    &--subtitle2 {
      font-size: 1.125rem;
      display: block;
      margin: 10px auto 0;
      position: relative;
      font-family: kings-caslon-display, serif;
      font-style: italic;
      font-weight: 400;
    }
    &--subtitle {
      font-size: 1.125rem;
      display: block;
      margin: 10px auto 0;
      position: relative;
      font-family: kings-caslon-display, serif;
      font-style: italic;
      font-weight: 400;
      max-width: 460px;
      span {
        background-color: white;
        display: inline-block;
        padding: 0 15px;
        z-index: 1;
        position: relative;
      }
      &:before {
        content:'';
        height: 1px;
        background-color: $color-brand-2;
        width: 100%;
        left: 0;
        position: absolute;
        top: 50%;
      }
    }
    &.bg-light-gray {
      background-color: #f8f8f6;
      padding: 30px 0 98px 0;
      .section__heading--subtitle span {background-color: #f8f8f6;}
    }
    &--extra {
      display: block;
      font-size: .625rem;
      letter-spacing: 5px;
      color: $color-brand-1;
      text-transform: uppercase;
      margin-top: 15px;
    }
  } 
  &__description {
    max-width: 620px;
    margin: 0 auto 40px auto;
    font-size: .813rem;
    text-align: center;
    @include media-breakpoint-down(md) {
      margin-bottom: 20px;
    }
  }
  &__map {
    padding:0 20px;
    &--wrapper {
      position: relative;
      overflow: hidden;
      #map_canvas {
        height: 550px;
        @include media-breakpoint-down(md) {
          height:calc(0.65*100vw);
        }
      }
      &:before {
        content: '';
        position: absolute;
        bottom: -100px;
        border: 100px solid transparent;
        z-index: 9;
        border-left-color: white;
        border-left-width: 50vw;
        left: 0;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: -100px;
        border: 100px solid transparent;
        z-index: 9;
        border-right-color: white;
        border-right-width: 50vw;
        right: 0;
      }
    }
  }
  &__animated {
    opacity:0;
    transform:translate(-25%,0%);
    transition: all 0.5s;
    &.in {
      transform:translate(0,0);
      opacity:1;
    }
  }
  &__gallery {
    &--btns {
      padding: 30px 0;
      .brand-btn-1 {
        font-weight: $font-weight-bold;
        margin: 0 8px;
        min-width: 120px;
      }
    }
    &--carousel {
      position: relative;
      .slick-arrow {
        opacity: 1;
        background-color: transparent;
        border: none;
        :before {background-color: transparent;}
      }
      .slick-next {right: 0px;}
      .slick-prev {left: 0px;}
    }
    &--inner {
      position: static;
      width: 80%;
      margin: 0 auto;
    }
    &--item {
      padding: 0 10px;
      a {
        background-size: cover;
        background-position: center;
        display:block;
        width: 100%;
        padding-top: 100%;
        position: relative;
      }
      span {
        background-color: rgba($black,0.4);
        position: absolute;
        display:flex;
        align-items:center;
        justify-content: center;
        color: $white;
        top:0;
        left:0;
        right:0;
        bottom:0; 
        opacity:0;
        transition: all .4s;
      }
      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
  &__inspire {
    &--carousel {
      overflow:hidden;
      position:relative;
      @include media-breakpoint-up(lg) {
        .slick-next {right: 40px;}
        .slick-prev {left: 40px;}
      }
    }
    &--inner {
      position: static;
      .slick-list {overflow: visible;padding: 0 !important;}
      @include media-breakpoint-up(lg) {
        width: 80%;
        margin: 0 auto;
      }
    }
    &--name {
      font-size: 1.125rem;
      @include media-breakpoint-up(lg) {
        font-size: 1.25rem;
      }
      font-weight: $font-weight-light;
      letter-spacing: 5px;
      color: $color-brand-1;
    }
    &--text {font-size: .813rem;}
    &--thumb {
      background-size: cover;
      background-position: center;
      height:calc(0.65*100vw);
      max-height: 450px;
    }
    &--desc {
      padding-top: 20px;
    }

    @include media-breakpoint-up(lg) {
      &--thumb {
        width: 45%;
      }
      &--desc {
        width: 55%;
        padding-top: 0;
        padding-left: 25px;
        position: relative;
      }
    } 
    &--item {
      width: 100%;
      background-color: #f3f3f3;
      padding: 25px;
      @include media-breakpoint-up(lg) {
        display:flex;
        align-items:top;
        justify-content: top;
        margin: 0 15px;
      }
      .brand-btn-1 {
        font-weight:$font-weight-bold;
      }
    }
    &--btn {
      padding-top: 20px;
      @include media-breakpoint-up(lg) {
        position: absolute;
      }
      bottom:0;
      left: 25px;
    }
  }
  &__offer {
    &--carousel {
      position: relative;
      top: -60px;
      .slick-initialized {position: static;}
      .slick-arrow {top: 30%;}
      
    }
    &--item {height: 100%;padding-bottom:40px;position: relative;}
    &--thumb {
      background-size: cover;
      background-position: center;
      padding-top: 65%;
    }
    &--desc {
      padding: 20px 0 0px;
    }
    &--btn {
      position: absolute;
      bottom:0;
      left: 0px;
    }
    &--name {
      font-size: 1rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @include media-breakpoint-up(lg) {
        font-size: 1.125rem;
      }
      font-weight: $font-weight-light;
      letter-spacing: px;
      color: $color-brand-1;
      margin-bottom: 15px;
    }
    &--text {
      font-size: .813rem;
      @include media-breakpoint-up(lg) {
        height: 160px;
        overflow-y: auto;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }
  &__feature {
    &--carousel {
      position:relative;
      margin-top:-85px;
      padding: 15px 0;
      &:before {
        content:'';
        border-top: 1px solid $white;
        position: absolute;
        left: 0;
        right: 0;
        top: 62px;
        box-shadow: 0px 0px 5px $modal-content-border-color;
      }
      .slick-arrow {top: 350px;}
      .slick-list {overflow: visible;padding: 0 !important;}
    }
    &--inner {
      position: static;
      width: 240px;
      margin: 0 auto;
      &:before {
        content: '';
        position: absolute;
        background: url(../images/blur.png) repeat-y;
        background-size: 100% auto;
        width: 20%;
        height:75px;
        top:0;
        left:0;
        z-index:2;
        transform: rotate(180deg);
      }
      &:after {
        content: '';
        position: absolute;
        background: url(../images/blur.png) repeat-y;
        background-size: 100% auto;
        width: 20%;
        height: 75px;
        top:0;
        right:0;
        z-index:2;
      }
    }
    &--item {
      &.slick-active {
        .section__feature--name:before {
          display:block;
        }
      }
    }
    &--tabs {
      position: relative;
      margin-bottom: 30px;
      .fade {
        height:0px;
        transition: all 0.5s;
        overflow: hidden;
        &.show{
          height: auto;
        }
      }
      @include media-breakpoint-up(lg) {
        .container {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          padding-left: 40px;
        }
      }
    }
    &--desc {
      padding: 25px 25px 50px;
      background-color: $white;
      position: relative;
      max-width: 620px;
      height: 100%;
    }
    &--text {
      font-size: .813rem;
      a {
        text-decoration:underline;
      }
      p {
        margin-bottom: 15px;
      }
    }
    &--image {
      height: 550px;
      overflow: hidden;
      background-size: cover;
      background-position: center center;
    }
    &--title {
      text-transform: uppercase;
      font-weight: $font-weight-light;
      font-size: 1rem;
      margin-bottom: 12px;
      letter-spacing: 3px;
    }
    &--btn {
      position: absolute;
      bottom: 0;
      left:25px;
    }
    &--name {
      text-align:center;
      font-size: .75rem;
      padding: 15px;
      position: relative;
      letter-spacing: 4px;
      text-transform: uppercase;
      &:before {
        content:'';
        width: 20px;
        height: 20px;
        display:none;
        position: absolute;
        background: url(../images/icons.png);
        background-position: -218px -8px;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
      }
    }
  }
}